<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title centered" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div>
</header>

<nav id="dropdown" role="navigation">
  <ul>
    <li><a class="page-link" href="{{ "/" | relative_url }}">Home</a></li>
    <li><a href="#" aria-haspopup="true">Book Information</a>
      <ul class="dropdown" aria-label="submenu">
        <li><a href="{{ "/reviews" | relative_url }}">Book Reviews</a></li>
        <li><a href="{{ "/interviews" | relative_url }}">Author interviews</a></li>
        <li><a href="{{ "/questions-and-answers" | relative_url }}">Q & A</a></li>
      </ul>
    </li>
    <li><a class="page-link" href="{{ "/about" | relative_url }}">About Rachel
      Adler</a></li>
    <li><a class="page-link" href="{{ "/events" | relative_url }}">Events</a></li>
    <li><a class="page-link" href="{{ "/buy" | relative_url }}">Buy</a></li>
    <li><a class="page-link" href="http://banotpress.com">Banot Press</a></li>
  </ul>
</nav>
