.site-header {
  border-top: 5px solid #30477e;
}
.site-title, .site-footer {
  font-family: 'Kurale', serif;
  color: #fff;
}
.site-footer {
  font-size:1.2rem;
}
a.page-link,
.page-link,
.site-title,
:link.site-title,
.site-footer a,
.site-footer a:visited,
.site-footer a:link,
.site-footer a:hover {
  color: #fff;
}
a.page-link,
.page-link,
.site-title,
:link.site-title {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background-color: #30477e;
  color: #fff;
}

.wrapper {
  max-width: -webkit-calc(1200px - (30px * 2));
  max-width: calc(1200px - (30px * 2));
  padding: 2rem;
}

.page-content .wrapper {
  background: #fff;
  color: #30477e;
}
.centered {
  text-align: center;
}

body a,
body a:link,
body a:hover,
body a:visited {
  color: #30477e;
}
body a,
body a:hover {
  text-decoration: underline;
}

/* Homepage positioning */
.home-row {
  display: flex;
}
.home-left {
  flex: 1 1 42%;
}
.home-right {
  flex: 0 0 56%;
}

/* Homepage text */
.home-right {
  padding: 0 4rem 4rem 4rem;
}
.callout {
  font-weight: 600;
  font-family: 'Kurale', serif;
  color: #30477e;
}
.shout-out {
  padding-bottom: 2rem;
}
.quote {
  font-family: 'Kurale', serif;
  color: #862A51;
  font-style: italic;
  font-size:1.3rem;
}
.attribution {
  font-size: 1.1rem;
  text-align: right;
  color: #551033;
  padding-right: 1rem;
}

/* General pages */
.author-headshot {
  float: right;
  padding-left: 10px;
}
@media screen and (max-width: 900px) {
  .home-row {
    flex-flow: row wrap;
  }
  .home-left, .home-right {
    flex: 100%;
  }
  .home-left {
    text-align: center;
  }
  .callout {
    font-size: 1.3rem;
  }
  .quote {
    font-size: 1.1rem;
  }
  .attribution {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .callout {
    font-size: 1.3rem;
  }
  .quote {
    font-size: 1.1rem;
  }
  .attribution {
    font-size: 1rem;
  }
  .home-right {
    padding: 0 3rem 3rem 3rem;
  }
}
