<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home-row">
        {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}
        <div class="home-left">
          <img src="{{ "/assets/images/cover-mysticat.png" | relative_url }}"
            alt="Book cover of Tales of the Holy Mysticat" />
        </div>
        <div class="home-right">
          <h2 class="callout">
            <center>An Unexpected Teacher</center>
          </h2>
          <p class="callout">Rabbi Rachel Adler, acclaimed feminist theologian, decided her new apartment needed a cat. She searched the local shelters. One gaunt feline caught her eye. Despite being caged, he radiated the spiritual beauty of face and dignity of bearing that mark a great soul. As he settled into his new home—purring at the Hebrew volumes in Adler’s rabbinic library, nodding attentively to the mezzuzot on the doorposts, and engaging in soulful meditation three times each day—Adler discerned that he was no ordinary kitty. He was an old soul with many lifetimes of Jewish wisdom to impart, reincarnated to a higher level in the form of a gray tabby—The Holy Mysticat.</p>
          <p class="callout">This whimsical and engaging book is a spirited guide to Jewish literacy, using the everyday adventures of Adler’s most peculiar cat to lead readers on a journey through thousands of years of Jewish thought, history, and practices—as seen through the eyes of one of our generation’s most profoundly creative scholars. This collection of heartwarming and creative stories is interspersed with insightfully drawn black-and-white illustrations, and provides unique insights into Jewish mysticism, portrayed through the life of her extraordinary cat. Just as the Holy Mysticat became Adler’s teacher, so too can the Holy Mysticat teach us all.</p>
        </div>
      </div>
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>
