<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main aria-label="Content">
    <div class="home-row">
      {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}
      <div class="home-left">
        <img src="{{ "/assets/images/cover-mysticat.png" | relative_url }}" alt="Book cover of Tales of the Holy Mysticat" />
      </div>
      <div class="home-right">
        <h2 class="callout"><center>An Unexpected Teacher</center></h2>
        <p class="callout">In early 2007, Professor Rachel Adler, Jewish feminist theologian, decided her new apartment needed a cat. Searching through photos from local shelters, one gaunt feline caught her eye. In spite of being caged, he retained the spiritual beauty of face and dignity of bearing that mark a great soul. As he settled into his new home, purring at the Hebrew volumes in Adler’s rabbinic library, nodding attentively to the mezzuzot on the doorposts, and engaging in soulful meditation three times each day, it became clear that he was no ordinary kitty. Over the years, these eccentric practices revealed him to be a Hasidic master reincarnated to a higher level in the form of a grey tabby.</p>
        <p class="callout">This whimsical and engaging book began as several years of Adler’s Facebook posts describing the idiosyncrasies of her peculiar cat, whom she called The Holy Mysticat. He became a holy teacher of sorts, both to her and her online friends, leading them on a journey through thousands of years of Jewish spiritual texts and practices. Not your typical dry scholarly treatise, this collection of heartwarming and creative stories, interspersed throughout with insightfully drawn black and white illustrations, allows Adler to share a unique insight into Jewish mysticism as demonstrated by her extraordinary cat.</p>
      </div>
    </div>
  </main>
  {%- include footer.html -%}

  </body>

</html>
