<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home-row">
        {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}
        <div class="home-left">
          <img src="{{ "/assets/images/cover-mysticat.png" | relative_url }}"
            alt="Book cover of Tales of the Holy Mysticat" />
        </div>
        <div class="home-right">
          <h2 class="callout">
            <center>An Unexpected Teacher</center>
          </h2>
          <p class="callout">When Rabbi Rachel Adler, esteemed feminist theologian, decided her new apartment
          needed a cat, she searched the local shelters. One gaunt feline caught her eye.
          Despite being caged, he radiated the spiritual beauty of face and dignity of
          bearing that mark a great soul. As he settled into his new home--purring at the
          Hebrew volumes in Adler's library, nodding attentively to the mezzuzot on her
          doorposts, and engaging in soulful meditation three times each day--Adler
          discerned that he was no ordinary kitty. He was an old soul with many lifetimes
          of Jewish wisdom to impart, reincarnated to a higher level in the form of a gray tabby--the Holy Mysticat.</p>
          <p class="callout">This engaging book is a guide to Jewish literacy, using the behaviors of Adler's most peculiar cat to lead readers on a journey through thousands of years of Jewish thought, history, and practices. A collection of whimsical stories, interspersed with cleverly drawn black-and-white illustrations, <em>Tales of the Holy Mysticat</em> provides unique insights into Jewish mysticism by one of our generation’s most profoundly creative scholars--portrayed through the life of her cat. Just as the Holy Mysticat became Adler's teacher, so too can the Holy Mysticat teach us all.</p>
        </div>
      </div>
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>
